.header{
    height: 30px;
    background: #ff6666;
    display: flex;
}
.header .now{
    color: white;
}
.header .main-memu{
    flex: 1;
    text-align: center;
    line-height: 30px;
}
.header .main-memu>span:hover{
    color: white;
    cursor: pointer;
}
.header .exit{
    float: right;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 8px;
    color: #666666;
}
.header .exit:hover{
    cursor: pointer;
}
.header .set{
    float: left;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-left: 10px;
}
.school{
    border: 1px solid #cccccc;
    display: flex;
    overflow: hidden;
}
.school .school-intr{
    flex: 3;
    padding: 5px 10px;
}


.school .school-topic{
    flex: 1;
    padding: 5px 10px;
    border-left:1px solid #cccccc;
    overflow: hidden;
}
.school .school-topic>li{
    list-style: disc;
    height: 20px;
    line-height: 25px;
    padding: 5px 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

